@keyframes float {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 10%;
  }
  100% {
    background-position: 50% 0%;
  }
}


.animate-svg {
  animation: animate-svg 1.3s linear;
}

.circle-svg{
  background-image: url('../../../assets/asset 8.svg');
  background-repeat: no-repeat;
  background-position: center;
  animation: circle-svg 3s ease-in-out infinite;
}

@keyframes circle-svg {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes animate-svg {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
