<div class="card-container card bg-gradient  !bg-[#ffffff]   h-[19%] !mt-1 mb-[4rem] xl:!mb-[7rem] lg:!mb-[7rem] md:!mb-[7rem] ">
  <!-- <video src="../../../assets/9809-221185519_small.mp4" class="gif-background" autoplay loop  ></video> -->
  <div class="card-body xl:!p-[2.5rem] lg:!p-[2.5rem] md:!p-[2.5rem] xl:!py-12 xl:!px-20 p-20 relative z-10">
    <div class="flex flex-wrap mx-[-15px] xl:mx-0 lg:mx-[-20px] mt-[-50px] justify-center items-center">
     
      <div class="xl:w-6/12 lg:w-6/12 flex-[0_0_auto] px-[15px] xl:px-0 lg:px-[20px] mt-[50px] max-w-full text-center lg:text-left xl:text-left ">
        <h1 class="xl:text-[2.4rem] text-[calc(1.365rem_+_1.38vw)] !leading-[1.15] !font-normal !tracking-normal mb-5 [word-spacing:normal!important] text-black">Simplify, Automate and Transform Your Business</h1>
        <p class="lead !text-[1.05rem] text-black !leading-[1.5] font-medium mb-7 xl:pr-10">We're a company that focuses on establishing long-term relationships with customers.</p>
        <div class="flex justify-center  lg:!justify-start xl:!justify-start">
          <span><a href="#" class="btn btn-lg btn-outline-aqua !bg-[#ffffff]  !rounded-[50rem] hover:!text-black">Explore Now</a></span>
          <span><a href="#" class="btn btn-lg btn-outline-aqua !bg-[#ffffff] !rounded-[50rem]  hover:!text-black">Contact Us</a></span>
        </div>
      </div>
    </div>
    <!--/.row -->
  </div>
  <!--/.card-body -->
</div>
