<app-hero></app-hero>
<div class="container">
  <div class="xl:!px-[1.25rem] lg:!px-[1.25rem] !mb-[4.5rem] xl:!mb-[7rem] lg:!mb-[7rem] md:!mb-[7rem]">
    <div class="flex flex-wrap mx-0 md:mx-[-20px] lg:mx-[-20px] xl:mx-[-35px] mt-[-40px] items-center">
      <div
        class="w-4/12 xl:w-2/12 lg:w-2/12 md:w-2/12 flex-[0_0_auto] px-[15px]  md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[40px] max-w-full">
        <figure class="px-5 md:!px-0 lg:!px-2 xl:!px-3 xxl:!px-4"><img src="assets/img/brands/c1.png" alt="image">
        </figure>
      </div>
      <!--/column -->
      <div
        class="w-4/12 xl:w-2/12 lg:w-2/12 md:w-2/12 flex-[0_0_auto] px-[15px]  md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[40px] max-w-full">
        <figure class="px-5 md:!px-0 lg:!px-2 xl:!px-3 xxl:!px-4"><img src="assets/img/brands/c2.png" alt="image">
        </figure>
      </div>
      <!--/column -->
      <div
        class="w-4/12 xl:w-2/12 lg:w-2/12 md:w-2/12 flex-[0_0_auto] px-[15px]  md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[40px] max-w-full">
        <figure class="px-5 md:!px-0 lg:!px-2 xl:!px-3 xxl:!px-4"><img src="assets/img/brands/c3.png" alt="image">
        </figure>
      </div>
      <!--/column -->
      <div
        class="w-4/12 xl:w-2/12 lg:w-2/12 md:w-2/12 flex-[0_0_auto] px-[15px]  md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[40px] max-w-full">
        <figure class="px-5 md:!px-0 lg:!px-2 xl:!px-3 xxl:!px-4"><img src="assets/img/brands/c4.png" alt="image">
        </figure>
      </div>
      <!--/column -->
      <div
        class="w-4/12 xl:w-2/12 lg:w-2/12 md:w-2/12 flex-[0_0_auto] px-[15px]  md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[40px] max-w-full">
        <figure class="px-5 md:!px-0 lg:!px-2 xl:!px-3 xxl:!px-4"><img src="assets/img/brands/c5.png" alt="image">
        </figure>
      </div>
      <!--/column -->
      <div
        class="w-4/12 xl:w-2/12 lg:w-2/12 md:w-2/12 flex-[0_0_auto] px-[15px]  md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[40px] max-w-full">
        <figure class="px-5 md:!px-0 lg:!px-2 xl:!px-3 xxl:!px-4"><img src="assets/img/brands/c6.png" alt="image">
        </figure>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
</div>


<section class=" !bg-[#a8ed9f] h-[22%] wrapper angled lower-start ">
  <div class="container pt-[4.5rem] xl:pt-24 lg:pt-24 md:pt-24">
    <div class="flex flex-wrap mx-[-15px] !text-center ">
      <div
        class="md:w-10/12 xl:w-8/12 lg:w-8/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:!ml-[16.66666667%] lg:!ml-[16.66666667%] md:!ml-[8.33333333%]">
        <h2 class="text-[0.8rem] tracking-[0.02rem] uppercase text-[#aab0bc] !mb-3 !leading-[1.35]">What We Do?</h2>
        <h3 class="text-[calc(1.315rem_+_0.78vw)] font-bold xl:text-[1.9rem] !leading-[1.25] mb-10 xl:!px-10">The
          service we offer is specifically designed to meet your needs.</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="!relative">    
      <div
        class="shape bg-dot primary rellax !w-[6rem] !h-[7rem] absolute opacity-50 bg-[radial-gradient(#fab758_2px,transparent_2.5px)]"
        data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
      <div class="flex flex-wrap mx-[-15px] xl:mx-[-12.5px] lg:mx-[-12.5px] md:mx-[-12.5px] mt-[-25px] !text-center">
        <div
          class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:px-[12.5px] lg:px-[12.5px] md:px-[12.5px] mt-[25px]">
          <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
            <div class="card-body flex-[1_1_auto] p-[40px]">
              <img src="assets/img/icons/lineal/search-2.svg"
                class="svg-inject icon-svg icon-svg-md !w-[2.6rem] !h-[2.6rem] text-[#fab758] text-yellow !mb-3 m-[0_auto]"
                alt="image">
              <h4 class="!text-[1rem]">SEO Services</h4>
              <p class="!mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus cras justo.</p>
              <a href="#" class="more hover text-[#fab758] focus:text-[#fab758] hover:text-[#fab758]">Learn More</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div
          class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:px-[12.5px] lg:px-[12.5px] md:px-[12.5px] mt-[25px]">
          <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
            <div class="card-body flex-[1_1_auto] p-[40px]">
              <img src="assets/img/icons/lineal/browser.svg"
                class="svg-inject icon-svg icon-svg-md !w-[2.6rem] !h-[2.6rem] text-[#e2626b] text-red !mb-3 m-[0_auto]"
                alt="image">
              <h4 class="!text-[1rem]">Web Design</h4>
              <p class="!mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus cras justo.</p>
              <a href="#" class="more hover text-[#e2626b] focus:text-[#e2626b] hover:text-[#e2626b]">Learn More</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div
          class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:px-[12.5px] lg:px-[12.5px] md:px-[12.5px] mt-[25px]">
          <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
            <div class="card-body flex-[1_1_auto] p-[40px]">
              <img src="assets/img/icons/lineal/chat-2.svg"
                class="svg-inject icon-svg icon-svg-md !w-[2.6rem] !h-[2.6rem] text-[#45c4a0] text-green !mb-3  m-[0_auto]"
                alt="image">
              <h4 class="!text-[1rem]">Social Engagement</h4>
              <p class="!mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus cras justo.</p>
              <a href="#" class="more hover text-[#45c4a0] focus:text-[#45c4a0] hover:text-[#45c4a0]">Learn More</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div
          class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:px-[12.5px] lg:px-[12.5px] md:px-[12.5px] mt-[25px]">
          <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
            <div class="card-body flex-[1_1_auto] p-[40px]">
              <img src="assets/img/icons/lineal/megaphone.svg"
                class="svg-inject icon-svg icon-svg-md !w-[2.6rem] !h-[2.6rem] text-[#3f78e0] text-blue !mb-3  m-[0_auto]"
                alt="image">
              <h4 class="!text-[1rem] ">Content Marketing</h4>
              <p class="!mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus cras justo.</p>
              <a href="#" class="more hover text-[#3f78e0] focus:text-[#3f78e0] hover:text-[#3f78e0]">Learn More</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.relative -->
  </div>
  <!-- /.container -->
</section>

<!-- /section -->
<section class="wrapper bg-gradient from-sky-300 to to-white">
  <div class="container py-24 xl:!py-[8rem] lg:!py-[8rem] md:!py-[8rem]">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] !mb-8 items-center">
      <div
        class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full xl:!order-2 lg:!order-2">
        <figure class="m-0 p-0"><img class="w-auto" src="assets/img/illustrations/i3.png"
            srcset="./assets/img/illustrations/i3@2x.png 2x" alt="image"></figure>
      </div>
      <!--/column -->
      <div class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full">
        <h2 class="text-[0.8rem] tracking-[0.02rem] uppercase text-[#aab0bc] !mb-3 !leading-[1.35]">Analyze Now</h2>
        <h3 class="text-[calc(1.315rem_+_0.78vw)] font-bold xl:text-[1.9rem] !leading-[1.25] mb-5">Wonder how much
          faster your website can go? Easily check your SEO Score now.</h3>
        <p class="!mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
          justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et.</p>
        <div class="flex flex-wrap mx-[-15px]">
          <div class="xl:w-9/12 lg:w-9/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
            <form action="#">
              <div class="form-floating input-group relative flex flex-wrap items-stretch w-full">
                <input type="url"
                  class="form-control  relative block w-full text-[.75rem] font-medium text-[#60697b] bg-[#fefefe] bg-clip-padding border shadow-[0_0_1.25rem_rgba(30,34,40,0.04)] rounded-[0.4rem] border-solid border-[rgba(8,60,130,0.07)] transition-[border-color] duration-[0.15s] ease-in-out focus:text-[#60697b] focus:bg-[#fefefe] focus:shadow-[0_0_1.25rem_rgba(30,34,40,0.04),unset] focus:!border-[rgba(63,120,224,0.5)] focus-visible:!border-[rgba(63,120,224,0.5)] focus-visible:!outline-0 placeholder:text-[#959ca9] placeholder:opacity-100 m-0 !pr-9 p-[.6rem_1rem] h-[calc(2.5rem_+_2px)] min-h-[calc(2.5rem_+_2px)] leading-[1.25]"
                  placeholder="Enter Website URL" id="seo-check">
                <label for="seo-check"
                  class="text-[#959ca9] mb-2 inline-block text-[.75rem] absolute z-[2] h-full overflow-hidden text-start text-ellipsis whitespace-nowrap pointer-events-none border origin-[0_0] px-4 py-[0.6rem] border-solid border-transparent left-0 top-0 font-Manrope">Enter
                  Website URL</label>
                <button class="btn btn-yellow text-white !bg-[#3cdfff] border-white hover:text-white "
                  type="button">Check</button>
              </div>
            </form>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>

<!-- TEAM MEMBERS SECTION -->
<section class="wrapper !bg-[#D7B4F3] ">
  <div class="container py-[4.5rem] xl:!py-24 lg:!py-24 md:!py-24">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] xl:mt-0 lg:mt-0 mb-12  ">
      <div
        class="xl:w-4/12 lg:w-4/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] xl:mt-0 lg:mt-0 max-w-full">
        <h3
          class="xl:text-[2rem] text-[calc(1.325rem_+_0.9vw)] !leading-[1.2] text-black font-DMSerif font-normal tracking-normal mb-3 xl:pr-10">
          We are proud of our creative team</h3>
        <p class="lead text-[1rem] text-black  !mb-0 xxl:pr-10">Just sit back and relax while we take care of your
          business needs.</p>
      </div>
      <!-- /column -->
      <div
        class="xl:w-8/12 lg:w-8/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full xl:!mt-2 lg:!mt-2">
        <div class="flex flex-wrap mx-[-15px] items-center counter-wrapper mt-[-30px] !text-center">
          <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[15px] mt-[30px] max-w-full">
            <img src="assets/img/icons/lineal/check.svg"
              class="svg-inject icon-svg text-[#a07cc5] mb-3 !w-[2.6rem] !h-[2.6rem] text-violet m-[0_auto]"
              alt="image">
            <h3
              class="counter xl:text-[2rem] text-[calc(1.325rem_+_0.9vw)] text-black tracking-[normal] !leading-none mb-2">
              7518</h3>
            <p class="text-[0.8rem] font-medium text-black !mb-0">Completed Projects</p>
          </div>
          <!--/column -->
          <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[15px] mt-[30px] max-w-full">
            <img src="assets/img/icons/lineal/user.svg"
              class="svg-inject icon-svg text-[#a07cc5] mb-3 !w-[2.6rem] !h-[2.6rem] text-violet m-[0_auto]"
              alt="image">
            <h3
              class="counter xl:text-[2rem] text-[calc(1.325rem_+_0.9vw)] tracking-[normal] text-black !leading-none mb-2">
              3472</h3>
            <p class="text-[0.8rem] font-medium !mb-0 text-black">Happy Customers</p>
          </div>
          <!--/column -->
          <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[15px] mt-[30px] max-w-full">
            <img src="assets/img/icons/lineal/briefcase-2.svg"
              class="svg-inject icon-svg text-[#a07cc5] mb-3 !w-[2.6rem] !h-[2.6rem] text-violet m-[0_auto]"
              alt="image">
            <h3
              class="counter xl:text-[2rem] text-[calc(1.325rem_+_0.9vw)] tracking-[normal] text-black !leading-none mb-2">
              2184</h3>
            <p class="text-[0.8rem] font-medium text-black !mb-0">Expert Employees</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="flex flex-wrap mx-[-15px] grid-view mt-[-30px] xl:mt-0">
      <div class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] mt-[30px] xl:mt-0 max-w-full">
        <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
          <div class="card-body flex-[1_1_auto] p-[40px]">
            <img class="rounded-[50%] !w-[5rem] mb-4" src="assets/img/avatars/te1.jpg"
              srcset="./assets/img/avatars/te1@2x.jpg 2x" alt="image">
            <h4 class="!mb-1">Coriss Ambady</h4>
            <div class="text-[0.65rem] uppercase tracking-[0.02rem] font-bold text-[#aab0bc] mb-2">Financial Analyst
            </div>
            <p class="!mb-2">Fermentum massa justo sit amet risus morbi leo.</p>
            <nav class="nav social !mb-0">
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-twitter before:content-['\ed59'] text-[1rem] text-[#5daed5]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-facebook-f before:content-['\eae2'] text-[1rem] text-[#4470cf]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-dribbble before:content-['\eaa2'] text-[1rem] text-[#e94d88]"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!--/column -->
      <div class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] mt-[30px] xl:mt-0 max-w-full">
        <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
          <div class="card-body flex-[1_1_auto] p-[40px]">
            <img class="rounded-[50%] !w-[5rem] mb-4" src="assets/img/avatars/te2.jpg"
              srcset="./assets/img/avatars/te2@2x.jpg 2x" alt="image">
            <h4 class="!mb-1">Cory Zamora</h4>
            <div class="text-[0.65rem] uppercase tracking-[0.02rem] font-bold text-[#aab0bc] mb-2">Marketing Specialist
            </div>
            <p class="!mb-2">Fermentum massa justo sit amet risus morbi leo.</p>
            <nav class="nav social !mb-0">
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-twitter before:content-['\ed59'] text-[1rem] text-[#5daed5]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-facebook-f before:content-['\eae2'] text-[1rem] text-[#4470cf]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-dribbble before:content-['\eaa2'] text-[1rem] text-[#e94d88]"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!--/column -->
      <div class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] mt-[30px] xl:mt-0 max-w-full">
        <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
          <div class="card-body flex-[1_1_auto] p-[40px]">
            <img class="rounded-[50%] !w-[5rem] mb-4" src="assets/img/avatars/te3.jpg"
              srcset="./assets/img/avatars/te3@2x.jpg 2x" alt="image">
            <h4 class="!mb-1">Nikolas Brooten</h4>
            <div class="text-[0.65rem] uppercase tracking-[0.02rem] font-bold text-[#aab0bc] mb-2">Sales Manager</div>
            <p class="!mb-2">Fermentum massa justo sit amet risus morbi leo.</p>
            <nav class="nav social !mb-0">
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-twitter before:content-['\ed59'] text-[1rem] text-[#5daed5]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-facebook-f before:content-['\eae2'] text-[1rem] text-[#4470cf]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-dribbble before:content-['\eaa2'] text-[1rem] text-[#e94d88]"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!--/column -->
      <div class="md:w-6/12 lg:w-6/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] mt-[30px] xl:mt-0 max-w-full">
        <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
          <div class="card-body flex-[1_1_auto] p-[40px]">
            <img class="rounded-[50%] !w-[5rem] mb-4" src="assets/img/avatars/te4.jpg"
              srcset="./assets/img/avatars/te4@2x.jpg 2x" alt="image">
            <h4 class="!mb-1">Jackie Sanders</h4>
            <div class="text-[0.65rem] uppercase tracking-[0.02rem] font-bold text-[#aab0bc] mb-2">Investment Planner
            </div>
            <p class="!mb-2">Fermentum massa justo sit amet risus morbi leo.</p>
            <nav class="nav social !mb-0">
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-twitter before:content-['\ed59'] text-[1rem] text-[#5daed5]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-facebook-f before:content-['\eae2'] text-[1rem] text-[#4470cf]"></i></a>
              <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                href="#"><i class="uil uil-dribbble before:content-['\eaa2'] text-[1rem] text-[#e94d88]"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->

    <!--/.row -->

    <!-- /div -->
  </div>
  <!-- /.container -->
</section>